
:root {
	--eggshell: #f4f1deff;
	--terra-cotta: #e07a5fff;
	--independence: #3d405bff;
	--green-sheen: #81b29aff;
	--deep-champagne: #f2cc8fff;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	background: var(--eggshell);
	color: var(--independence);
	font-family: Monaco, monospace;
	text-align: center;
}

a:link {
	color: var(--independence);
}
a:hover {
	color: var(--deep-champagne);
}
a:visited {
	color: var(--green-sheen);
}
main {
	padding: 1rem;
	margin: 2rem auto;
	max-width: 40rem;
}
code{
	font-size: 1.1rem;
	color: var(--terra-cotta);
}